/* Loader Css  Starts */




/* Loader CSS Ends   */


body
{
  background-color: black !important;
}



.website
{
    overflow-x: hidden;
    position: relative;
}

.header-cus
{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-text-cus
{
  position: absolute;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-family: 'Tillana', cursive; */
  font-family: 'Londrina Outline', cursive;
}

.profile-img
{
  border-radius: 100%;
  width: 15vw;
  /* border-style: solid;
  border-width: 3px; */
  border-color: wheat;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.header-text-cus h3
{
  font-size: 4.5vw;
  padding-top: 3rem;
}

#particles-js
{
  background-image: url(./img/mountain.jpg);
  height: 100vh;
}




/* .navbar-cus
{
    padding: 0 5vw;
    background-color: rgb(102, 102, 102);
} */

.navbar
{
    padding: 1vh 5vw !important;
}
.navbar-brand
{
    font-family: 'Tangerine', cursive;
    color: rgb(167, 167, 167) !important;
    font-size: 40px !important;
}


.nav-link
{
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    padding: 1rem 1.6rem !important;
    padding-bottom: 2rem;
}


.nav-link {
    /* font-weight: bold; */
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
    border-radius: 10px;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #00B0DC;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 48%;
  }
  
  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  
  .nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
  }
  
  .nav-link-grow-up:hover::before {
    height: 5px;
  }

















#navbarSupportedContent
{
    justify-content: flex-end !important;
}


.tog
{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #343A40;
    border-style: none;
    text-decoration: none;
    outline:none !important;
}


/* btn */
.menu {
    position: relative;
    display:  inline-block;
    margin: 2px;
}
.menu span {
    margin: 0 0;
    position: relative;
}
.menu span:before, .menu span:after {
    position: absolute;
    content: '';
}
.menu span, .menu span:before, .menu span:after {
    width: 30px;
    height: 6px;
    background-color: whitesmoke;
    display: block;
}
.menu span:before {
    margin-top: -12px;
}
.menu span:after {
    margin-top: 12px;
}
/* --- btn --- */

/* examples */

/* example 5 */
/* .example5 span {
    -webkit-transition-duration: 0s; transition-duration: 0s;
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example5:hover span {
    background-color: rgba(0,0,0,0.0);
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example5 span:before {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.example5:hover span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg); transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.example5 span:after {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.example5:hover span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
} */


.example5 span {
    -webkit-transition-duration: 0s; transition-duration: 0s;
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.tog:hover span {
    background-color: rgba(0,0,0,0.0);
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.tog span:before {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.tog:hover span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg); transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.tog span:after {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.tog:hover span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}






