/* Loader Css  Starts */




/* Loader CSS Ends   */


body
{
  background-color: whitesmoke !important;
}



.website
{
    overflow-x: hidden;
    position: relative !important;
    display: none;
}

.header-cus
{
    position: relative !important;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.typed-cus
{
  /* font-family: 'Blinker', sans-serif !important;  */
  /* font-family: 'Philosopher', sans-serif !important; */
  font-family: 'Electrolize', sans-serif;
  font-size: 1.4vw !important ; 
  color: lemonchiffon !important;
  font-weight: 100 !important; 
  padding-top: 0 !important;
}

.header-text-cus
{
  position: absolute;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-family: 'Tillana', cursive; */
  /* font-family: 'Londrina Outline', cursive; */
  font-family: 'Blinker', sans-serif;
}

.profile-img
{
  border-radius: 100%;
  width: 12vw;
  /* border-style: solid;
  border-width: 3px; */
  border-color: wheat;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.links-cus
{
  /* position: relative !important; */
  padding-top: 1rem;
 
}

.icon-cus
{
  color: whitesmoke;
  font-size: 1.8vw;
  margin: 0 1.5rem;
  /* border-style: solid;
  border-width: 1px; */
  /* padding: 2.5px 5px; */
}

.links-cus a:hover
{
  color: rgb(64, 255, 0);
}





.header-text-cus h3
{
  font-size: 3.5vw;
  padding-top: 2rem;
  color: rgb(231, 208, 208);
}



@media screen and (max-width: 800px) 
{
  .profile-img
  {
    width: 25vw;
  }

  .header-text-cus h3
  {
    font-size: 8.5vw;
  }

  .typed-cus
  {
    font-size: 4.5vw !important;
  }

  .icon-cus
  {
    font-size: 4.5vw !important;
  }
}


#particles-js
{
  background-image: url(./img/mountain.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* min-height: 500px; */
}




.navbar-cus
{
    position: relative !important;
}

.navbar
{
    padding: 1vh 5vw !important;
}
.navbar-brand
{
    font-family: 'Tangerine', cursive;
    color: rgb(167, 167, 167) !important;
    font-size: 40px !important;
}


.nav-link
{
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    padding: 1rem 1.6rem !important;
    padding-bottom: 2rem;
}


.nav-link {
    /* font-weight: bold; */
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
    border-radius: 10px;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #ff0000;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 0px;
    /* bottom 10px tha  */
  }
  
  .nav-link-ltr:hover::before {
    width: 48%;
  }
  
  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  
  .nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
  }
  
  .nav-link-grow-up:hover::before {
    height: 5px;
  }





.nav-black
{
  background-color: rgb(0, 0, 0) !important;
  opacity: 0.8;
  transition: 1s;
}

html {
  scroll-behavior: smooth;
}









#navbarSupportedContent
{
    justify-content: flex-end !important;
}


.tog
{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #343A40;
    border-style: none;
    text-decoration: none;
    outline:none !important;
}


/* btn */
.menu {
    position: relative;
    display:  inline-block;
    margin: 2px;
}
.menu span {
    margin: 0 0;
    position: relative;
}
.menu span:before, .menu span:after {
    position: absolute;
    content: '';
}
.menu span, .menu span:before, .menu span:after {
    width: 30px;
    height: 6px;
    background-color: whitesmoke;
    display: block;
}
.menu span:before {
    margin-top: -12px;
}
.menu span:after {
    margin-top: 12px;
}
/* --- btn --- */

/* examples */

/* example 5 */
/* .example5 span {
    -webkit-transition-duration: 0s; transition-duration: 0s;
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example5:hover span {
    background-color: rgba(0,0,0,0.0);
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example5 span:before {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.example5:hover span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg); transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.example5 span:after {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.example5:hover span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
} */


.example5 span {
    -webkit-transition-duration: 0s; transition-duration: 0s;
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.tog:hover span {
    background-color: rgba(0,0,0,0.0);
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.tog span:before {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.tog:hover span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg); transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.tog span:after {
    -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
    -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.tog:hover span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
















/* About  */


.about-me
{
  position: relative;
  display: flex;
  justify-content: space-evenly !important;
  background-color: whitesmoke;
  margin-top: 3rem;
  margin-left: 0 !important;
  padding: 0 !important;

}

.about-container
{
  position: relative;
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  justify-content: flex-start;
  margin-left: 5vw !important;
}

.about-img
{
  width: 40vh;
  height: auto;
  margin-right: 3rem;
  margin-bottom: 1rem;
  box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5) !important;
  
}


.about-text
{
  background-color: whitesmoke;
  font-family: 'Hind', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  
  padding-left: 5vw !important;
}

.about-text h1
{
  margin-top: 0rem;
}

.about-text ul
{
  margin-top: 0rem;
  font-size: 2.2vh;
}

.about-text ul li
{
  padding-top: 1rem;
}


.about-button
{
  text-decoration: none;
  margin: 5vh 0vh;
  display: flex;
}

.about-button a
{
  margin: 0 3vh;
  margin-left: 0 !important;
  font-family: 'Nova Square', cursive;
  color: whitesmoke;
  background-color: black;
  font-weight: 900;
  font-size: 3vh !important;
  text-decoration: none !important;
  /* border-style: solid; */
  border-width: 1px;
  border-radius: 8px;
  padding: 1vh 2.5vh;
}

.about-button a:hover
{
  color: black;
  background-color: rgb(211, 209, 209);
  border-style: solid;
}

.download-cv
{
  background-color: whitesmoke !important; 
  color: black !important; 
  border-style: solid;
}

.download-cv:hover
{
  background-color: rgb(211, 209, 209) !important;
}

.personal-details
{
  margin: 4vh 2.5vh;
  display: flex;
}

.personal-details-right
{
  padding-left: 6vh;
}

.personal-details h2
{
  font-size: 2.8vh;
  padding-top: 1rem;
  font-weight: 600;
  font-family: 'Aldrich', sans-serif;
}

@media screen and (max-width: 800px) 
{
  .about-container
  {
    flex-direction: column;
    justify-content: center !important;
  }

  .about-text
  {
    padding-left: 0vw !important;
    text-align: center;
    padding-top: 2rem !important;
    margin: auto auto;
  }

  .about-text ul
  {
    font-size: 2.2vh;
    text-align: start;
    padding: 0 !important;
  }

  .about-img
  {
    margin: auto auto;
  }

  .foto-div
  {
    margin: auto auto;
  }

  .personal-details
  {
    text-align: start;
    display: block;
  }

  .personal-details-right
  {
    padding: 0;
  }

  
}

.skills
{
  position: relative;
  padding-top: 4rem;
  background-image: url(./img/mustang3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  /* display: flex; */
  justify-content: space-evenly !important;
  text-align: center;
}

.skills h3
{
  margin: auto !important;
  color: whitesmoke;
  font-family: 'Nova Square', cursive;
  font-size: 8vh !important;
}
.skills h2
{
  margin: auto !important;
  color: whitesmoke;
  font-family: 'Nova Square', cursive;
  font-size: 3.5vh;
}

.ml-text-small
{
  font-size: 2.7vh !important;
  padding-bottom: 7px;
}

.skill-names
{
  font-family: 'Nova Square', cursive;
  font-size: 4vh !important;
  margin-top: 5rem;
  color: rgb(0, 0, 0);
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  padding-top: 2rem;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .container {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.489);  
  }

  .contact-container
  {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.262)  !important;  
  }


}


.skill-text
{
  font-family: 'Nova Square', cursive;
  font-size: 2vh !important;
}


.skill-names .skill-1 .container .progress
{
  background-color: rgba(253, 253, 253, 0);
}

.skill-names .skill-1 .about-container
{
  padding: 0 !important;
  margin: 0 !important;
}

.skill-names-md
{
  display: none;
}

.technologies
{
  text-align: center;
  margin-top: 4rem;
}

.technologies p
{
  font-family: 'Aldrich', sans-serif;
  font-size: 5.5vh;
  color: rgb(0, 0, 0);
  margin-bottom: 5rem;
}

.tech
{
  text-align: start;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  padding: 0 6vw;
}

.small-tech
{
  display: none;
}



.tech h1
{
  margin-top: 0vh;
  font-size: 4vh;
}

.tech h2
{
  margin-top: 3vh;
  font-size: 2.5vh;
}

.tech h3
{
  margin-top: 0vh;
  font-size: 2.5vh;
}

.tech h4
{
  margin-top: 3vh;
  font-size: 4vh;
}

@media screen and (max-width: 900px) 
{
  .small-tech
  {
    display: block;
  }

  .large-tech
  {
    display: none;
  }

  /* .tech h1
  {
    margin-top: 0vh;
    font-size: 2vh;
  }
  .tech h2
  {
    margin-top: 3vh;
    font-size: 1.5vh;
  }
  .tech h3
  {

  }
  .tech h4
  {

  } */
}


.work
{
  background-image: url(./img/macbook-hd.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}


.project-nav
{
  display: flex;
  /* flex-direction: column; */
}

.project-nav-item
{
  color: whitesmoke !important;
  font-family: 'Nova Square', cursive;
  font-weight: 900;
  display: flex;
  padding: 6vw 5vw;
  margin: 0;
  font-size: 3vh !important;
  text-decoration: none;
}

.project-nav-item a
{
  color: whitesmoke !important;
  padding: 0 1vh !important;
  text-decoration: none;
  font-size: 3vh !important;
}

.work-gallery
{
  margin: 8vh 10vh;
}

.row1
{
  display: flex;
}

.img-gal
{
  width: 100%;
  padding: 1rem 1rem;
}

.work-gallery-sm
{
  display: none;
}


.work-gallery a:hover
{
  opacity: 0.4;
}


.ml-work
{
  align-items: center;
  text-align: center;
  margin-top: 6rem;
  display: none;
}

.ml-work p
{
  font-size: 8vh;
  color: whitesmoke;
  font-family: 'Nova Square', cursive;
}


.contact
{
  background-image: url(./img/contact.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  text-align: center;
}

.contact-container
{
  /* padding: 3rem 3rem; */
  margin-top: 3rem;
  width: 30% !important;
  border-radius: 10%;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5rem;
}

label
{
  font-family: 'Electrolize', sans-serif;
  font-size: 3vh !important;
  color: rgb(255, 255, 255);
  text-align: start !important;
  padding-top: 1rem;
}

input
{
  background-color: rgba(255, 253, 253, 0.351);
  border-width: 1px;
  border-radius: 5px;
  font-family: 'Nova Square', cursive !important;
  margin-top: 1rem !important;
  transition: 0.2s;
  color: whitesmoke;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(193, 193, 193);
  opacity: 1; /* Firefox */
}

textarea
{
  background-color: rgba(255, 255, 255, 0.351);
  border-width: 1px;
  border-radius: 5px;
  font-family: 'Nova Square', cursive !important;
  margin-top: 1rem !important;
  transition: 0.2s;
}

input:hover
{
  padding: 1rem 1rem !important;
}

#container-id
{
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
  padding: 1rem 1rem;
}

.contact p
{
  font-family: 'Aldrich', sans-serif;
  font-size: 6vh;
  color: rgb(255, 255, 255);
  /* margin-bottom: 1rem; */
  padding-top: 12rem;
  /* padding-right: 2rem; */
}

.personal-contact-detail
{
  background-color: rgba(0, 0, 0, 0.572);
  border-radius: 20px;
  padding: 1rem 1rem;
  margin-left: auto !important;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 3rem;
}

.personal-contact-detail h1
{
  font-family: 'Aldrich', sans-serif;
  color: whitesmoke;
  font-size: 3vh;
  /* padding-bottom: 2rem; */
  /* margin: 0; */
}
.contact-div
{
  display: flex;
  justify-content: space-around !important;
}

.whatsapp
{
  display: flex;
  flex-direction: column;
}

.whatsapp a
{
  padding-top: 2rem;
  /* padding-left: 2rem; */
}

@media screen and (max-width: 1100px) 
{
  #large-skill
  {
    display: none;
  }

  .skill-names-md
  {
    display: block;
  }

  .skills
  {
    height: 1000px;
  }

  .project-nav
  {
    flex-direction: column;
  }

  .project-nav-item a
  {
    font-size: 2.0vh !important;
  }

  .nav-link::before
  {
    background-color: rgb(3, 240, 11);
  }

  .work-gallery
  {
    display: none;
  }

  .work-gallery-sm
  {
    display: flex;
    flex-direction: column;
  }

  .contact-container
  {
    width: 70vw !important;
  }

  .whatsapp
  {
    flex-direction: row;
    text-align: center !important;
  }

  .whatsapp a
  {
    padding: 0;
    /* padding-left: 2rem; */
  }

  .contact-div
  {
    flex-direction: column;
  }

  .personal-contact-detail h1
  {
    padding-bottom: 0 !important;
  }
}

